*{
    font-family: 'Azeret Mono', monospace;
}
b {
  font-size: 115%;
}
body {
    background-color: #282C34;
}
i {
  color: #61AFEF;
  font-size: 50px;
  margin: 20px;
}
iframe {
  width: 1286px;
  height: 1280px;
}

.avatar {
    height: 200px;
    width: 200px;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 50%;
    border-color: #98C36E;
    border-style: solid;
    border-width: 5px;
    padding: 1px;
  }


  .cardHome {
    border-radius: 5px;
    border-color: #D19A66;
    box-shadow: 2px 4px 8px 0 #D19A66;
  }

  .card-body {
    padding:40px
  }
  .card-title {
    font-size: 1.4rem;
 }

.carousel-control-next, .carousel-control-prev{
  opacity: 1;
}
.tech-avatar {
    max-height: 120px;
    max-width: 120px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-color: #D19A66;
    border-style: solid;
    border-width: 4px;
    padding: 0px;
  }

  #my-carousel-right, #my-carousel-left{
    background-color: #61AFEF;
    padding: 33px;
    border-radius: 50%;
    filter: none;
    font-size: 10px;
    background-size:50% 50%;
  }

  

  @media screen and (max-width: 480px) {
    h1 {font-size: 110%;}
    iframe {
      width: 100%;
      height: 500px;
    }
    #my-carousel-right, #my-carousel-left{
      padding:20px;
    }
    
  }